#bussula {
	background: url(../img/bussola.png) no-repeat center;
	height: 200px;
	width: 200px;
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}