body {
		background-color: #ddd;
}

#street {
	position: absolute;
	height: 100%;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transtion: all linear 16.66ms;
    -ms-transtion: all linear 16.66ms;
    -o-transtion: all linear 16.66ms;
    transtion: all linear 16.66ms;
}

.boy {
	height: 60px;
    width: 6px;
    background-color: #787510;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-right: -3px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.boy:before {
	content: "";
    position: absolute;
    left: -17px;
    top: 20px;
    height: 2px;
    background-color: #787510;
    width: 40px;
}

.boy:after {
    content: "V";
    position: absolute;
    bottom: -30px;
    height: 2px;
    color: #787510;
    font-size: 40px;
    left: -11px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.boy .head {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #787510;
	position: absolute;
	top: -22px;
	left: -9px;
}
.results {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;

}